extends ../../layout/uikit-base/uikit-base

include ../../includes/input-field/input-field
include ../../includes/dropdown/dropdown
include ../../includes/checkbox/checkbox
include ../../includes/radio/radio
include ../../includes/toggle/toggle
include ../../includes/like/like
include ../../includes/rating/rating
include ../../includes/slider/slider
include ../../includes/drop-date/drop-date
include ../../includes/buttons/buttons
include ../../includes/pagination/pagination

block title
  title Form Elements

block content
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        h3.form-elements__title= "Text Field"
        +input({
          type: "email",
          name: "email",
          placeholder: "Email"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        h3.form-elements__title= "Text Field"
        +input({
          type: "text",
          name: "awesome",
          placeholder: "placeholder",
          value: "This is pretty awesome"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        h3.form-elements__title= "Dropdown"
        +dropdown({
          label: "Сколько гостей",
          elements: [
            {label: "Взрослые", name: "adult", min: "0", max: "10"},
            {label: "Дети", name: "children", min: "0"},
            {label: "Младенцы", name: "baby", min: "0"}
          ]
        })
      .form-elements__element
        h3.form-elements__title= "masked text field"
        +input({
          type: "text",
          name: "maskedDate",
          placeholder: "ДД.ММ.ГГГГ",
          pattern: "[0-9]{2}.[0-9]{2}.[0-9]{4}"
        })
      .form-elements__element
        +drop-date({isMultiple: true})
      .form-elements__element
        +drop-date({isMultiple: false})
    .form-elements__block
      .form-elements__element(class="form-elements__element--margin")
        +checkbox({
          name: "options",
          title: "Checkbox buttons",
          elements: [
            {label: "Можно курить", id: "checkSmoking", value: "isSmoking", checked: false},
            {label: "Можно с питомцами", id: "checkAnimals", value: "isAnimals", checked: "true"},
            {label: "Можно пригласить гостей (до 10 человек)", id: "checkGuests", value: "isGuests", checked: true}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Radio buttons"
        +radio({
          name: "sex",
          elements: [
            {label: "Мужчина", id: "man", value: "man", checked: false},
            {label: "Женщина", id: "woman", value: "woman", checked: true}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Toggle"
        +toggle({
          name: "special",
          elements: [
            {label: "Получать спецпредложения", id: "special-1", value: "special-1", checked: false},
            {label: "Получать спецпредложения", id: "special-2", value: "special-2", checked: false}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Like button"
        .form-elements__likes
          +like({
            likes: "2",
            isLiked: false
          })
          +like({
            likes: "12",
            isLiked: true
          })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Rate button"
        .form-elements__rating
          +rating({
            name: "rating-1",
            rate: "4"
            })
          +rating({
            name: "rating-2",
            rate: "5"
            })
    .form-elements__block
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Range slider"
        .form-elements__slider
          +slider({
            type: "double",
            min: 0,
            max: 15000,
            from: 5000,
            to: 10000
          })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Buttons"
        .form-elements__buttons
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "Click me"
            })
            +buttons({
              type: "button",
              label: "Click me",
              hovered: "true"
            })
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "Click me",
              style: "fill"
            })
            +buttons({
              type: "button",
              label: "Click me",
              style: "fill",
              hovered: "true"
            })
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "Click me",
              style: "simple"
            })
            +buttons({
              type: "button",
              label: "Click me",
              style: "simple",
              hovered: "true"
            })
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "перейти к оплате",
              style: "large",
              link: "www.google.com"
            })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Pagination"
        .form-elements__pagination
          +pagination({
            elements: ["1", "2", "3", "...", "15"],
            currentPage: 1
          })
  .form-elements__wrapper
    .form-elements__block
    .form-elements__block
    .form-elements__block
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class="form-elements__element--checkbox")
        +checkbox({
          name: "appOptions",
          title: "expandable checkbox list",
          expandable: "true",
          isHide: "true",
          elements: [
            {label: "Завтрак", id: "breakfast", value: "isBreakfast", checked: false},
            {label: "Письменный стол", id: "table", value: "isTable", checked: true},
            {label: "Стул для кормления", id: "highChair", value: "isHighChair", checked: true},
            {label: "Кроватка", id: "crib", value: "isCrib", checked: true},
            {label: "Телевизор", id: "tv", value: "isTv", checked: false},
            {label: "Шампунь", id: "shampoo", value: "isShampoo", checked: false}
          ]
        })
      .form-elements__element(class="form-elements__element--checkbox")
        +checkbox({
          name: "appOptions2",
          title: "expandable checkbox list",
          isExpandable: "true",
          elements: [
            {label: "Завтрак", id: "breakfast", value: "isBreakfast", checked: false},
            {label: "Письменный стол", id: "table", value: "isTable", checked: true},
            {label: "Стул для кормления", id: "highChair", value: "isHighChair", checked: true},
            {label: "Кроватка", id: "crib", value: "isCrib", checked: true},
            {label: "Телевизор", id: "tv", value: "isTv", checked: false},
            {label: "Шампунь", id: "shampoo", value: "isShampoo", checked: false}
          ]
        })
    .form-elements__block
      .form-elements__element(class="form-elements__element--margin")
        +checkbox({
          name: "richOptions",
          title: "rich Checkbox Buttons",
          isRich: "true",
          elements: [
            {label: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см.", id: "hall", value: "isHall", checked: false},
            {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера.", id: "invalid", value: "invalid", checked: false}
          ]
        })
    .form-elements__block
  .form-elements__wrapper
    .form-elements__block
    .form-elements__block
    .form-elements__block
