extends ../../layout/uikit-base/uikit-base

include ../../includes/input-field/input-field
include ../../includes/dropdown/dropdown
include ../../includes/checkbox/checkbox
include ../../includes/radio/radio
include ../../includes/toggle/toggle
include ../../includes/like/like
include ../../includes/rating/rating
include ../../includes/slider/slider
include ../../includes/drop-date/drop-date
include ../../includes/buttons/buttons
include ../../includes/pagination/pagination
include ../../includes/bullet/bullet
include ../../includes/features/features
include ../../includes/comments/comments
include ../../includes/subscription/subscription

block title
  title Form Elements

block content
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "email",
          name: "email",
          placeholder: "Email"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "text",
          name: "awesome",
          placeholder: "placeholder",
          value: "This is pretty awesome"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        +dropdown({
          title: "Dropdown",
          label: "Сколько гостей",
          elements: [
            {label: "Взрослые", name: "adult", min: "0", max: "10"},
            {label: "Дети", name: "children", min: "0"},
            {label: "Младенцы", name: "baby", min: "0"}
          ]
        })
      .form-elements__element
        +input({
          title: "masked text field",
          name: "maskedDate",
          masked: true
        })
      .form-elements__element
        +drop-date({
          isMultiple: true,
          dateFrom: "date Dropdown",
          dateTo: "date Dropdown"
        })
      .form-elements__element
        +drop-date({
          isMultiple: false,
          filterDate: "filter date dropdown"
        })
      .form-elements__element(class="form-elements__element--narrow")
        +subscription({
          title: "subscription text field",
          server: "#"
        })
    .form-elements__block
      .form-elements__element(class="form-elements__element--margin")
        +checkbox({
          name: "options",
          title: "Checkbox buttons",
          elements: [
            {label: "Можно курить", id: "checkSmoking", value: "isSmoking", checked: false},
            {label: "Можно с питомцами", id: "checkAnimals", value: "isAnimals", checked: "true"},
            {label: "Можно пригласить гостей (до 10 человек)", id: "checkGuests", value: "isGuests", checked: true}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Radio buttons"
        +radio({
          name: "sex",
          elements: [
            {label: "Мужчина", id: "man", value: "man", checked: true},
            {label: "Женщина", id: "woman", value: "woman", checked: false}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Toggle"
        +toggle({
          name: "special",
          elements: [
            {label: "Получать спецпредложения", id: "special-1", value: "special-1", checked: true},
            {label: "Получать спецпредложения", id: "special-2", value: "special-2", checked: false}
          ]
        })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Like button"
        .form-elements__likes
          +like({
            likes: "2",
            isLiked: false
          })
          +like({
            likes: "12",
            isLiked: true
          })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Rate button"
        .form-elements__rating
          +rating({
            name: "rating-1",
            rate: "4"
            })
          +rating({
            name: "rating-2",
            rate: "5"
            })
    .form-elements__block
      .form-elements__element(class="form-elements__element--slider")
        .form-elements__slider
          +slider({
            title: "Range slider",
            type: "double",
            min: 450,
            max: 15600,
            from: 5000,
            to: 10000
          })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Buttons"
        .form-elements__buttons
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "Click me"
            })
            +buttons({
              type: "button",
              label: "Click me",
              hovered: "true"
            })
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "Click me",
              modify: ["fill"]
            })
            +buttons({
              type: "button",
              label: "Click me",
              modify: ["fill"],
              hovered: "true"
            })
          .form-elements__buttons-block(
            class= "form-elements__buttons-block--simple"
          )
            +buttons({
              type: "button",
              label: "Click me",
              modify: ["simple"]
            })
            +buttons({
              type: "button",
              label: "Click me",
              modify: ["simple"],
              hovered: "true"
            })
          .form-elements__buttons-block
            +buttons({
              type: "button",
              label: "перейти к оплате",
              modify: ["large"],
              link: "www.google.com"
            })
      .form-elements__element(class="form-elements__element--margin")
        h3.form-elements__title(class="form-elements__title--margin-large")= "Pagination"
        .form-elements__pagination
          +pagination({
            elements: ["1", "2", "3", "...", "15"],
            currentPage: 1
          })
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class=["form-elements__element--min-margin", "form-elements__element--narrow"])
        h3.form-elements__title= "Dropdown"
        +dropdown({
          label: "2 спальни, 2 кровати...",
          isButton: false,
          elements: [
            {label: "спальни", name: "bedroom", min: "0", max: "5", value: "2"},
            {label: "кровати", name: "bed", min: "0", value: "2"},
            {label: "ванные комнаты", name: "bathroom", min: "0", max: "5"}
          ]
        })
      .form-elements__element(class=["form-elements__element--min-margin", "form-elements__element--narrow"])
        h3.form-elements__title= "Dropdown"
        +dropdown({
          label: "2 спальни, 2 кровати...",
          isOpen: true,
          isButton: false,
          elements: [
            {label: "спальни", name: "bedroom2", min: "0", max: "5", value: "2"},
            {label: "кровати", name: "bed2", min: "0", value: "2"},
            {label: "ванные комнаты", name: "bathroom2", min: "0", max: "5"}
          ]
        })
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        h3.form-elements__title= "Dropdown"
        +dropdown({
          label: "Сколько гостей",
          isOpen: true,
          elements: [
            {label: "Взрослые", name: "adult2", min: "0", max: "10"},
            {label: "Дети", name: "children2", min: "0"},
            {label: "Младенцы", name: "baby2", min: "0"}
          ]
        })
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        h3.form-elements__title= "Dropdown"
        +dropdown({
          label: "Сколько гостей",
          isOpen: true,
          elements: [
            {label: "Взрослые", name: "adult3", min: "0", max: "10", value: "2"},
            {label: "Дети", name: "children3", min: "0", value: "1"},
            {label: "Младенцы", name: "baby3", min: "0"}
          ]
        })
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class=["form-elements__element--checkbox", "form-elements__element--narrow"])
        +checkbox({
          name: "appOptions",
          title: "expandable checkbox list",
          isExpandable: "true",
          isHide: "true",
          elements: [
            {label: "Завтрак", id: "breakfast", value: "isBreakfast", checked: false},
            {label: "Письменный стол", id: "table", value: "isTable", checked: true},
            {label: "Стул для кормления", id: "highChair", value: "isHighChair", checked: true},
            {label: "Кроватка", id: "crib", value: "isCrib", checked: true},
            {label: "Телевизор", id: "tv", value: "isTv", checked: false},
            {label: "Шампунь", id: "shampoo", value: "isShampoo", checked: false}
          ]
        })
      .form-elements__element(class=["form-elements__element--checkbox", "form-elements__element--narrow"])
        +checkbox({
          name: "appOptions2",
          title: "expandable checkbox list",
          isExpandable: "true",
          elements: [
            {label: "Завтрак", id: "breakfast2", value: "isBreakfast2", checked: false},
            {label: "Письменный стол", id: "table2", value: "isTable2", checked: true},
            {label: "Стул для кормления", id: "highChair2", value: "isHighChair2", checked: true},
            {label: "Кроватка", id: "crib2", value: "isCrib2", checked: true},
            {label: "Телевизор", id: "tv2", value: "isTv2", checked: false},
            {label: "Шампунь", id: "shampoo2", value: "isShampoo2", checked: false}
          ]
        })
    .form-elements__block
      .form-elements__element(class=["form-elements__element--margin", "form-elements__element--narrow"])
        +checkbox({
          name: "richOptions",
          title: "rich Checkbox Buttons",
          isRich: "true",
          elements: [
            {label: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см.", id: "hall", value: "isHall", checked: false},
            {label: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист  и проводит до номера.", id: "invalid", value: "isInvalid", checked: false}
          ]
        })
    .form-elements__block
      .form-elements__element(class=["form-elements__element--margin", "form-elements__element--narrow"])
        +bullet({
          title: "bullet list",
          elements: [
            {label: "Нельзя с питомцами"},
            {label: "Без вечеринок и мероприятий"},
            {label: "Время прибытия — после 13:00, а выезд до 12:00"}
          ]
        })
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class=["form-elements__element-margin", "form-elements__element--pre-narrow"])
        +features({
          list: [
            {
              label: "Комфорт",
              description: "Шумопоглощающие стены",
              url: require("./img/insert_emoticon.svg").default
            },
            {
              label: "Удобство",
              description: "Окно в каждой из спален",
              url: require("./img/location_city.svg").default
            }
          ]
        })
    .form-elements__block(class= "form-elements__block--comments")
      +comments({
        name: "Мурад Сарафанов",
        imgSrc: require("./img/image.jpg").default,
        label: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
      })
