include ../like/like

mixin comments({name, imgSrc, label, likes= "12", isLiked= true, longAgo= "5 дней"})
  .comments
    img.comments__img(
      src= imgSrc
      alt= `Аватар ${name}`
    )
    .comments__name-block
      h4.comments__name= name
      span.comments__time= `${longAgo} назад`
    .comments__like
      +like({
        likes: likes,
        isLiked: isLiked
      })
    p.comments__comment= label
