include ../like/like

mixin comments({name, imgSrc, label})
  .comments
    img.comments__img(
      src= imgSrc
      alt= `Аватар ${name}`
    )
    .comments__name-block
      h4.comments__name= name
      span.comments__time= "5 дней назад"
    .comments__like
      +like({
        likes: "12",
        isLiked: true
      })
    p.comments__comment= label
