mixin rating({name, rate= 0, starsAmount= 5, ariaName= "Рейтинг"})
  -var count= 0;
  -var isChecked= false
  -var _rate= rate - 1
  fieldset.rating
    legend.visually-hidden= ariaName
    .rating__group
      while count < starsAmount
        if _rate == count
          -isChecked= true
        else
          -isChecked= false
        input.rating__star(
          type= "radio",
          name= name,
          value= count + 1,
          checked= isChecked
          )
        -count++;