mixin drop-date()
    .drop-date
      input(
        class= ["drop-date__datepicker", "drop-date__datepicker-multi"]
        type= "text"
      )
      .drop-date__block
        h3.drop-date__title= "Date dropdown"
        input(
          class= ["drop-date__input", "drop-date__input-from", "js-drop-date__input"]
          type= "text"
          placeholder= "ДД.ММ.ГГГГ"
        )
        .drop-date__icon(aria-hidden= "true")
      .drop-date__block
        h3.drop-date__title= "Date dropdown"
        input(
          class= ["drop-date__input", "drop-date__input-to", "js-drop-date__input"]
          type= "text"
          placeholder= "ДД.ММ.ГГГГ"
        )
        .drop-date__icon(aria-hidden= "true")
