mixin drop-date({isMultiple= false, titleFrom, titleTo, title, range, from, to, inline})
  if inline
    - var inlineClass= "drop-date--inline"
  .drop-date(class= ["js-drop-date", inlineClass])
    if !isMultiple
      .drop-date__wrapper
        h4(class= "drop-date__title")= title
        input(
          class= ["drop-date__input", "js-drop-date__input"]
          type= "text"
          placeholder= "ДД.ММ.ГГГГ"
          value= range
        )
    else
      input(
        class= ["drop-date__datepicker-multi", "js-drop-date__input"]
        type= "text"
      )
      .drop-date__block
        h4(class= "drop-date__title")= titleFrom
        input(
          class= ["drop-date__input", "js-drop-date__input-from"]
          type= "text"
          placeholder= "ДД.ММ.ГГГГ"
          value= from
        )
        .drop-date__icon(aria-hidden= "true")
      .drop-date__block
        h4(class= "drop-date__title")= titleTo
        input(
          class= ["drop-date__input", "js-drop-date__input-to"]
          type= "text"
          placeholder= "ДД.ММ.ГГГГ"
          value= to
        )
        .drop-date__icon(aria-hidden= "true")
