include ../nav/nav
include ../buttons/buttons
include ../user-link/user-link

.header__wrapper
  header.header
    .header__icon-wrapper
      a.header__main-link(
        href= "index.html"
      )
        img(
          class= "header__icon"
          alt= "Toxin icon"
          src= 'img/icon-color.svg'
        )
        img(
          class= "header__icon-text"
          alt= "Toxin"
          src= 'img/toxin.svg'
        )
    .header__block(class= "js-header__block")
      button(
        class= "header__menu-button js-header__menu-button"
        type= "button"
        aria-expanded= "false"
        aria-controls= "menu__list"
        aria-label= "Открыть меню"
      )
        svg(
          class= "header__nav-icon"
          width= "32"
          height= "32"
          viewBox= "0 0 32 32"
        )
          path(
            class= "header__nav-icon header__nav-icon--menu"
            d= "M5 8h22M5 16h22M27 24H5"
            stroke-width= "3"
            stroke-linecap= "round"
            stroke= "#000000"
          )
          path(
            class= "header__nav-icon header__nav-icon--cross"
            d= "M7 24L25 8M25 24L7 8"
            stroke-width= "3"
            stroke-linecap= "round"
            stroke= "#000000"
          )
      .header__nav(class= "js-header__nav")
        +nav({
          items: [
            {label: "О нас", href: "#"},
            {label: "Услуги", href: "#", extend: [
              {label: "Услуга 1", href: "#"},
              {label: "Услуга 2", href: "#"},
              {label: "Услуга 3", href: "#"}
            ]},
            {label: "Вакансии", href: "#"},
            {label: "Новости", href: "#"},
            {label: "Соглашения", href: "#", extend: [
              {label: "Соглашение 1", href: "#"},
              {label: "Соглашение 2", href: "#"},
              {label: "Соглашение 3", href: "#"}
            ]}
          ],
          currentPage: current
        })
        if isLogin
          +user-link({
            name: "Юлий Цезарь",
            link: "#"
          })
        else
          .header__log-wrapper
            +buttons({
              type: "link",
              link: "#",
              label: "войти",
              modify: ["fill", "low"],
              classes: ["-login-button-"]
            })
          .header__reg-wrapper
            +buttons({
              type: "link",
              link: "#",
              label: "зарегистрироваться",
              modify: ["low"],
              classes: ["-reg-button-"]
            })
