mixin slider({title, description, type, min, max, from, to, skin= "round", isMinMax= "true"})
  .slider(class="js-slider")
    h3.slider__title= title
    .slider__data-from-to(class= "js-slider__data-from-to")
    input.js-range-slider(
      type= "text",
      name= "slider",
      value= "",
      data-type= type,
      data-min= min,
      data-max= max,
      data-from= from,
      data-to= to,
      data-skin= skin,
      data-hide-min-max= isMinMax,
      data-hide-from-to= "true"
    )
    p.slider__description= description