extends ../../layout/landing-base/landing-base
include ../../includes/room-gallery/room-gallery
include ../../includes/room-cards/room-cards
include ../../includes/features/features
include ../../includes/comments/comments
include ../../includes/impression/impression
include ../../includes/bullet/bullet

block title
  title Room details

block content
  h1.visually-hidden= "Подробная информация о номере 888"
  section.room-details__promo
    h2.visually-hidden= "Фотографии номера"
    +room-gallery({
      images: [
        {src: require("./img/888-1.jpg").default, alt: "Спальня номера 888"},
        {src: require("./img/888-2.jpg").default, alt: "Рабочий кабинет номера 888"},
        {src: require("./img/888-3.jpg").default, alt: "Гостиная номера 888"}
      ]
    })
  .room-details__main-wrapper
    .room-details__block-wrapper
      .room-details__section-wrapper
        section.room-details__info
          h2.room-details__title= "Сведения о номере"
          .room-details__features
            +features({
              list: [
                {
                  label: "Комфорт",
                  description: "Шумопоглощающие стены",
                  url: require("./img/insert-emoticon.svg").default
                },
                {
                  label: "Удобство",
                  description: "Окно в каждой из спален",
                  url: require("./img/location-city.svg").default
                },
                {
                  label: "Уют",
                  description: "Номер оснащён камином",
                  url: require("./img/whatshot.svg").default
                }
              ]
            })
        section.room-details__showing
          h2.room-details__title= "Впечатления от номера"
          +impression({})
      section.room-details__comments
        .room-details__comments-title-wrapper
          h2.room-details__title= "Отзывы посетителей номера"
          span.room-details__comments-amount= "2 отзыва"
        ul.room-details__comments-list
          li.room-details__comments-li
            +comments({
              name: "Мурад Сарафанов",
              imgSrc: require("./img/avatar-1.jpg").default,
              label: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              isLiked: true,
              longAgo: "5 дней",
              likes: "12"
            })
          li.room-details__comments-li
            +comments({
              name: "Патрисия Стёклышкова",
              imgSrc: require("./img/avatar-2.jpg").default,
              label: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
              isLiked: false,
              longAgo: "Неделю",
              likes: "2"
            })
      section.room-details__additional
        h2.visually-hidden= "Дополнительная информация"
        .room-details__rules-wrapper
          h3.room-details__title(class="room-details__title--rules room-details__title--bullet")= "Правила"
          +bullet({
            elements: [
              {label: "Нельзя с питомцами"},
              {label: "Без вечеринок и мероприятий"},
              {label: "Время прибытия — после 13:00, а выезд до 12:00"}
            ]
          })
        .room-details__cancellation-wrapper
          h3.room-details__title(class="room-details__title--rules")= "Отмена"
          p.room-details__cancellation= "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги."
    section.room-details__reserve
      h2.visually-hidden= "Забронировать номер"
      +room-cards({
          number: "888",
          isLuxe: "true",
          price: "9 999",
          action: "/mock-address/change-me"
        })

