mixin toggle({name, elements})
  .toggle(class= "js-toggle")
    for elem in elements
      .toggle__element
        label.toggle__label(class= "js-toggle__label")= elem.label
          input.toggle__input(
            class= "visually-hidden js-toggle__input"
            type="checkbox",
            name= name,
            value= elem.value,
            checked= elem.checked
          )