extends ../../layout/uikit-base/uikit-base

block title
  title Main

block content
  .main
    ul.main__list
      li.main__li
        a.main__link(href="colors-type.html") Colors &amp; Type
          img(
            class= "main__img"
            alt= "Превью страницы Colors & Type"
            src= require("./img/ColorsType.jpeg").default
          )
      li.main__li
        a.main__link(href="form-elements.html") Form Elements
          img(
            class= "main__img"
            alt= "Превью страницы Form Elements"
            src= require("./img/FormElements.jpeg").default
          )
      li.main__li
        a.main__link(href="cards.html") Cards
          img(
            class= "main__img"
            alt= "Превью страницы Cards"
            src= require("./img/Cards.jpeg").default
          )
      li.main__li
        a.main__link(href="headers-footers.html") Headers &amp; Footers
          img(
            class= "main__img"
            alt= "Превью страницы Headers & Footers"
            src= require("./img/HeadersFooters.jpeg").default
          )
      li.main__li
        a.main__link(href="landing.html") Landing Main
          img(
            class= "main__img"
            alt= "Превью страницы Landing"
            src= require("./img/LandingPage.jpeg").default
          )
      li.main__li
        a.main__link(href="landing-login.html") Login
          img(
            class= "main__img"
            alt= "Превью страницы Login"
            src= require("./img/Signin.jpeg").default
          )
      li.main__li
        a.main__link(href="landing-registration.html") Registration
          img(
            class= "main__img"
            alt= "Превью страницы Registration"
            src= require("./img/Registration.jpeg").default
          )
      li.main__li
        a.main__link(href="room-filter.html") Room Search
          img(
            class= "main__img"
            alt= "Превью страницы Room filter"
            src= require("./img/Filter.jpeg").default
          )
      li.main__li
        a.main__link(href="room-details.html") Room Details
          img(
            class= "main__img"
            alt= "Превью страницы Room details"
            src= require("./img/RoomDetails.jpeg").default
          )
