mixin checkbox({name, title, isExpandable, isRich, isHide, elements})
  if isRich
    - var rich= "-rich-"
  if isHide === "true"
    - var hide= "display-none"
  .checkbox
    if isExpandable === "true"
      h3.checkbox__title
        button.checkbox__title-button= title
    else
      h3.checkbox__title= title
    ul.checkbox__list(class= [mod, hide])
      for elem in elements
        li.checkbox__element
          input.checkbox__input(
            class= "visually-hidden",
            id= elem.id,
            type="checkbox",
            name= name,
            value= elem.value,
            checked= elem.checked
          )
          label(
            class= ["checkbox__label", rich],
            for= elem.id
          )= elem.label
          if isRich
            span.checkbox__riched-text= elem.description
