mixin checkbox({name, title, isExpandable, isRich, isHide, elements})
  if isRich
    - var richClass= "checkbox__label--rich"
  if isHide === "true"
    - var hideClass= "checkbox__list--hidden"
  .checkbox(class= "js-checkbox")
    if isExpandable === "true"
      h3.checkbox__title
        button.checkbox__title-button(
          class= "js-checkbox__title-button"
        )= title
    else
      h3.checkbox__title= title
    ul.checkbox__list(class= ["js-checkbox__list", hideClass])
      for elem in elements
        li.checkbox__element
          label(
            class= ["checkbox__label", "js-checkbox__label", richClass]
          )= elem.label
            input.checkbox__input(
            class= "visually-hidden js-checkbox__input",
            type="checkbox",
            name= name,
            value= elem.value,
            checked= elem.checked
          )
          if isRich
            span.checkbox__rich-text= elem.description
