mixin dropdown({title, label, elements})
  h4.dropdown__title= title
  .dropdown
    p.dropdown__drop-button(class="open")= label
    .dropdown__menu
      for elem in elements
        .dropdown__element
          label.dropdown__label(for= elem.name)= elem.label
          input.dropdown__input(
            id= elem.name,
            type="number",
            name= elem.name,
            value= elem.value,
            min= elem.min,
            max= elem.max
          )