mixin dropdown({title, label, elements})
  .dropdown
    h3.dropdown__title= title
    p.dropdown__drop-button= label
    .dropdown__menu
      for elem in elements
        .dropdown__element
          label.dropdown__label(for= elem.name)= elem.label
          input.dropdown__input(
            id= elem.name,
            type="number",
            name= elem.name,
            value="0",
            min= elem.min,
            max= elem.max
          )