mixin dropdown({title, label, isOpen= "false", elements})
  h4.dropdown__title= title
  .dropdown
    p.dropdown__drop-button(
      class= "open"
      data-open= isOpen.toString()
    )= label
    .dropdown__menu
      for elem in elements
        if elem.value == undefined
          - elem.value= "0"
        .dropdown__element
          label.dropdown__label(for= elem.name)= elem.label
          input.dropdown__input(
            id= elem.name
            type="number"
            name= elem.name
            value= elem.value
            min= elem.min
            max= elem.max
          )
