mixin input({type, label, name, value, placeholder, pattern})
  label.input-field__label
    span.input-field__span= label
    input.input-field__input(
      type= type,
      name= name,
      value= value,
      placeholder= placeholder,
      pattern= pattern
    )