mixin input({title, type, name, value, placeholder, pattern})
  if title
    h3.input-field__title= title
  input.input-field__input(
    type= type,
    name= name,
    value= value,
    placeholder= placeholder,
    pattern= pattern
  )
