mixin radio({name, elements})
  .radio(class= "js-radio")
    ul.radio__list(class= "js-radio__list")
      for elem in elements
        li.radio__element
          label.radio__label(class= "js-radio__label")= elem.label
            input.radio__input(
              class= "visually-hidden js-radio__input"
              type="radio",
              name= name,
              value= elem.value,
              checked= elem.checked
            )